<%= form_for(@cause) do |f| %>
  <% if @cause.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cause.errors.count, "error") %> prohibited this cause from being saved:</h2>

      <ul>
      <% @cause.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
 <!--  <div class="field">
    <%= f.label :category_id %><br />
    <%= f.number_field :category_id %>
  </div> -->
  <%= f.hidden_field :category_id, value: "1" %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
