<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @cause.name %>
</p>

<p>
  <b>Category:</b>
  <%= @cause.category_id %>
</p>


<%= link_to 'Edit', edit_cause_path(@cause) %> |
<%= link_to 'Back', causes_path %>
