<% flash.each do |name, msg| %>
  <% if name != :timedout %>
    <div class="alert alert-<%= name == :notice ? 'success' : 'error'%>">
      <a class="close" data-dismiss="alert">×</a>
      <%= msg %>
    </div>
  <% end %>
<% end %>