<header class="navbar">
  <nav class="navbar-inner">
    <div class="container">
<%= link_to image_tag("gallery.png", :size => '150x60'), root_path, :class => 'brand', :style => 'text-align:center;' %>
      <div class="nav-collapse">
        <ul class="nav pull-right" style="margin: 15px">
          <% if user_signed_in? %>
            <% if current_user.admin %>
              <li>
                <%= link_to 'Donations', donations_path %>
              </li>
            <% end %>
            <li>
              <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>        
            </li>
          <% else %>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>