<div id="header" role="header">
  <div class="container-fluid">
    <div class="row-fluid">
      <div id="logo" class="pull-left"><%= link_to image_tag("logo.png"), "/" %></div>
      <div id="smart-logo">
        Developed by
        <%= link_to image_tag("smart-logo.png", id: "smart-logo"), "http://www.smartsoftasia.com"%>
      </div>
      <% if current_user %>
      <div class="pull-right sidebar">
        <ul class="user-panel">
          <% if current_user.admin %>
            <li>
              <%= link_to 'Donations', donations_path %>
            </li>            
            <li class="divider"> | </li>
          <% end %>
          <li>
            <%= link_to('Sign out', destroy_user_session_path, :method => :delete) %>        
          </li>
        </ul>
      </div>
    <% end %>  
    </div>
    <div class="row-fluid">
      <%= render 'shared/flash_messages' %>
    </div>
  </div>
</div>