
<div class="background">
<p><strong>&nbsp;‘Performing Arts for All’:</strong></p>
<p>…is an initiative of Vararom Pachimsawat: Director of the&nbsp;<b>friends-of-the-Arts</b>&nbsp;foundation:</p>
<p>The&nbsp;<b>friends-of-the-Arts</b>&nbsp;foundation collaborate with ‘<b><a title="BACC Website" href=" http://en.bacc.or.th" target="_blank">Bangkok Arts &amp; Cultural Center</a>’</b>&nbsp;(BACC): &nbsp;to initiate this project as part of Bangkok Asean Art and Culture Festival</p>
<p><b>‘Connecting Asean’</b>aim<b>&nbsp;</b>is to become a&nbsp;major cultural educational event for the ‘<b>ASEAN</b>&nbsp;<b>community</b>’.</p>
<p><strong>Mission</strong></p>
<p>The<b>&nbsp;‘Performing Arts for All’</b>&nbsp;is a pre-event ‘pilot project’ to launch the 2013&nbsp;<b>‘International Dance Festival’ ~ ‘Road to ASEAN’</b></p>
<p>The&nbsp;<b>Association of Southeast Asian Nations</b>&nbsp;(<b>ASEAN</b>) was formed on 8 August 1967 by&nbsp;Indonesia,&nbsp;Malaysia, the&nbsp;Philippines,&nbsp;Singapore&nbsp;and&nbsp;Thailand.&nbsp;Since then, membership has expanded to include&nbsp;Brunei,&nbsp;Burma (Myanmar),&nbsp;Cambodia,&nbsp;Laos, and&nbsp;Vietnam. Its aims include accelerating&nbsp;economic growth,&nbsp;social progress, cultural development among its members, protection of regional peace and stability, and opportunities for member countries to discuss differences peacefully.</p>
<p>The&nbsp;<b>‘Performing Arts for All’</b>&nbsp;goals are to share ‘our culture’ between the ASEAN countries.</p>
<p>Encouraging the youth to network, collaborate, share their culture and history through the performing arts and dance.</p>
<p><b>‘Performing Arts for All’</b>&nbsp;will be an introduction for the inauguration of ‘ASEAN’ 2015.</p>
<p>It is desired that this initiative to become an on-going annual event within the ‘ASEAN community’.</p>
<p><strong>Program</strong><b>:</b></p>
<ul>
<li>4 weeks of free workshops &nbsp;for 150 Asean teenages 13-18 years old</li>
</ul>
<p>Date; 1- 27 Oct. 2013</p>
<p>Time; 14.30-19.30hrs and 16.00-19.30hrs ( for International school participant)</p>
<p>The workshops are to introduce various type of performing arts :</p>
<p>14.30-16.00hrs Introduction of &nbsp;Asean countries by talk/ film/ demonstration /short workshop. Open to general public.</p>
<ol>
<li>brief history</li>
<li>culture</li>
<li>performing arts/martial arts</li>
<li>geography</li>
<li>people and society today</li>
</ol>
<p>16.00-17.30&nbsp; Hrs.&nbsp; The participants will experience different types of dance:</p>
<ol>
<li>Jazz</li>
<li>Hip Hop</li>
<li>Thai khon (mask dance)</li>
<li>Asean &nbsp;martial arts ie Punjab silat/&nbsp; krabee – krabong (Thai martialarts) Muay thai kadcheuk(classical form of Thai boxing / body and mind movement with breathing and meditation.</li>
<li>Asean rhytmn</li>
<li>Contemporary dance</li>
</ol>
<p>17.30-19.30hrs&nbsp; The 150 participants will work together by expressing / sharing/ collaborating&nbsp; to create a production based on “MANOHRA” the story that share among Asean countries under the supervision of the director and choreographer from Dance Centre,school of performing arts.</p>
<ul>
<li><b>“</b><strong>Manohra</strong>” the&nbsp; final performance. 150 Asean youth will stage a general-public’ performance</li>
</ul>
<p><b>Date:</b></p>
<p><span style="color: #800000;"><strong>27<sup>th</sup>&nbsp;Oct 2013</strong></span> &nbsp; &nbsp; at14.30 hrs. ‘matinee’ and 18.00 hrs. ‘evening’ (two performances)</p>
<p><span style="color: #800000;"><strong>24<sup>th</sup>&nbsp;Nov2013</strong></span><b> &nbsp; &nbsp;at 16.00 hrs. on young talent stage of The International Dance Festival 2013</b></p>
<p><strong>&nbsp;Venue:&nbsp;</strong>Bangkok Art and Culture Center</p>
<p><strong>Timeline:</strong></p>
<ul>
<li>Promotional Period: 1<sup>st</sup>&nbsp;Aug – 30<sup>th</sup>&nbsp;Sept.</li>
<li>Accept Application: 1<sup>st</sup>&nbsp;&nbsp;- 24<sup>th</sup>&nbsp;&nbsp;Sept.</li>
<li>Announcement: of the accepted applicants 27<sup>th</sup>&nbsp;Sept.</li>
<li>Assembly:&nbsp; 29<sup>th</sup>&nbsp;Sept. 15.00 – 16.30 hrs.</li>
</ul>
<p><b>Criteria for Application:</b></p>
<ul>
<li>Female/male 13- 18 years old (excellent health both mentally and physically:)</li>
<li>Eager to learn and have passion in performing arts</li>
<li>No former training required</li>
</ul>
<p><b>Additional Documents:</b></p>
<ul>
<li>2/2 inches picture</li>
<li>Student Identification and Thai &nbsp;I.D. or &nbsp;Passport</li>
<li>House Registration ( Thai national)</li>
</ul>
<p>Each participant will receive a ‘<b>certificate of commendation</b>’ upon completion of the&nbsp;<b>Performing Arts for All&nbsp;</b>event.</p>
<p><b>Rules and Regulations:</b></p>
<ul>
<li>All participants must&nbsp; attend all workshops and performances during 1<sup>st</sup>&nbsp;– 27<sup>th</sup>&nbsp;Oct</li>
<li>Absence from the workshops are not allowed (except hospitalization).</li>
<li>Doctor’s certificate is required when absent .</li>
<li>Not more than 3 absent are allow during 1<sup>st</sup>&nbsp;– 17<sup>th</sup>&nbsp;Oct.</li>
<li>Both parent and participant will sign an ‘agreement’ with the organizers to obey all rules</li>
<li>The value of the workshops during 1<sup>st</sup>&nbsp;- 27<sup>th</sup>&nbsp;Oct &nbsp;2013 is 58,800 Baht</li>
</ul>
<p>There will be penalty should the participants be absent more than 3 ‘workshops-days’ of the value of 58,800 Baht.</p>
<%= link_to "Back", root_path %>
</div>
