<%= provide 'page-header', 'Listing donations' %>

<table class='table'>
  <thead>
    <th><%= t('donations.slot_number') %></th>
    <th>Name</th>
    <th>Cause</th>
    <th>Amount</th>
    <th>Date & Time</th>
    <th></th>
  </thead>

<% @donations.each do |donation| %>
  <tr>
    <td><%= donation.pixel_id %></td>
    <td><%= donation.user.full_name if donation.user.present? %></td>
    <td><%= donation.cause.name if donation.cause.present? %></td>
    <td><%= donation.amount %></td>
    <td><%= donation.created_at.localtime if donation.created_at.present? %></td>
    <td><%= link_to 'Destroy', donation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>