<div class="background">
  <h1>Donation</h1>
  <hr>
  <div class="left">
  <%= form_for @donation, url: express_paypal_donations_path, :method => :get do |f| %>
    <% if !current_user %>
      <%= f.fields_for :user do |u| %>
        <%= u.label :first_name %>
        <%= u.text_field :first_name %>
        <%= u.label :last_name %>
        <%= u.text_field :last_name %>
        <%= u.label :email %>
        <%= u.text_field :email %>
      <% end %>
    <% end %>
    <%= f.label :cause_id, "A Type of Donation" %>
    <%= f.select(:cause_id, Cause.all.map{|c|[c.name,c.id]}) %>
    <%= f.hidden_field :pixel_id %>
    <%= f.label :amount, "Amount ( THB )" %>
    <%= f.text_field :amount %>
    <br />
    <%= f.check_box :anonymous, {}, true, false %> <%= t('donations.anonymous') %>
    <br /><br />
    <%= f.submit "", class: "btn-donate" %>

  <% end %>
  </div>
  <div class="right">
    <h2>Scholarship Program</h2>
      <p>The foundation aims to award grant / bursaries for:</p>
      <li>12 Thai scholarship program 2014 (150,000 THB each)</li>
      <li>1 student will be selected in 2014 for further education abroad on the international scholarship program starting in 2015!</li>
      <br/>
      <h2>Connecting ASEAN Community Program</h2>
      <p>The foundation aims to award grant / bursaries for:</p>
      <li>Tuition is valued at 50,000 Baht for one student to attend 10 day program!</li>
      <li>There are also ‘funds’ available for students from overseas who need assistance for travel / accommodation / per-diem for food </li>
  </div>  
  <%= image_tag("form-image.jpg", class: "responsive")%>
</div>

