<% content_for :legend, "Sign in" %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.email_field :email, :placeholder => 'Email' %></div>
  <div><%= f.password_field :password, :placeholder => 'Password' %></div>
  <% if devise_mapping.rememberable? -%>
    <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
  <% end -%>
  <div><%= f.submit "Sign in", :class => 'btn btn-primary' %></div>
<% end %>

<%= render "links" %>