/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import "bootstrap";

$gray: #ededed;
h1,h2{
  margin-bottom: 10px;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  background: url(background.png);
}

.admin {
  margin: 20px;

  h1 {
    margin-bottom: 22px;
  }
}

.top-head-center {
  margin-top: 6px;
}

.top-head-left {
  margin-top: -22px;
}

.top-head-right {
  margin-top: -64px;
}

.btn-facebook-login {
  background: url(facebook_login.png);
  height: 33px;
  width: 152px;
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  text-indent: -9999px;
  font-size: 13px;
  line-height: 18px;
  color: #333;
  text-align: center;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  vertical-align: middle
}

.container.white {
  background: #fff;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.control-label.pull-right {
  float: right;
}

.radio.pull-right input[type="radio"], .checkbox.pull-right input[type="checkbox"] {
  float: right;
  margin-left: 18px;
}

.form-horizontal .row.two-columns{
  margin-left: 100px;
}

.form-horizontal .row.two-columns .controls {
  margin-left: 0px;
}

.form-horizontal .form-actions {
  text-align: center;
  padding-left: 0px;
}

.hero {
  padding: 0px 100px;
}
.hero h1 {
  text-align: center;
}
.hero p {
  text-align: center;
}

.focused-unit {
  position: relative;
  margin: 15px 0;
  padding: 39px 19px 14px;
  background-color: white;
  border: 1px solid #DDD;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.focused-unit input {
  width: 97%;
}

.focused-unit .btn {
  width: 100%;
}

.focused-body {
  margin-top: 150px;
  background: $gray;
}

.navbar-inner {
  min-height: 40px;
  background-image: none;
  background-repeat: no-repeat;
  filter: none;
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  moz-box-shadow: none;
  box-shadow: none;
}

.navbar {
  padding-top: 20px;
  .container {
    width: 940px;
  }
}

.alert {
  margin-top: 20px;
  margin-bottom: 0px;
}

.navbar .nav > li > a {
  float: none;
  padding: 9px 10px 11px;
  line-height: 19px;
  color: #797979;
  text-decoration: none;
}

.navbar .nav > li > a:hover {
  color: #34548F;
  text-decoration: underline;
  background-color: transparent;
}

.navbar .nav .active > a, .navbar .nav .active > a:hover {
  color: #446EB9;
  text-decoration: none;
  background-color: none;
}

.sidebar {
  padding: 10px;
  ul {
    list-style: none;
  }
  a {
    color: white;
  }
}

.footer {
  text-align: center;
  font-size: 11px;
  min-height: 20px;
  a {
    color: #333;
    text-decoration: underline;
  }
}
