// Place all the styles related to the donations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

form.new_donation {
  min-height: 20px;
  padding: 19px;
}

.form-actions {
  background: white;
}

img.responsive{
  width: 100%;
}

div.left{
  width: 50%;
  float:left;  
  margin-bottom: 20px;
}

div.right{
  width: 50%;
  float:right;  
  margin-bottom: 20px;
}