form{
  margin: 0px;
  padding: 0px;
  input[type='radio']{
    float: left;
    margin-right: 5px;
    margin-top: 0px;
  }
}
input.btn-donate{
  width: 147px;
  height: 47px;
  border: 0px;
  background:url("/assets/btn-donate.gif");
}