#header{
  margin-bottom: 20px;
  ul.user-panel{
    color: #797979;
    li{
      float: left;
      a{
        color: #797979;
      }
    }  
    li.divider{
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  .row-fluid{
    position: relative;
    div#smart-logo{
      font-size: 8px;
      background-color: white;
      padding: 5px;
      padding-top: 0px;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 100px;
    }
  }
}
