@media screen and (max-width:946px) {
  .gallery-background {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .box {
    width: 13.33px;
    height: 13.33px;
  }
  .gallery-container {
    height: 140px;
  }
}