<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body>
<%= render 'shared/header' %>
<div id="main" role="main">
  <div class="container white">
    <div class="content">
      <div class="row">
        <div class="span12">
          <div style="margin: 20px;">
            <div class="page-header">
              <h1><%= yield 'page-header' %></h1>
            </div>
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
</body>
</html>
