<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body>
<%= render 'shared/header'%>
<div id="main" role="main">
  <div class="container-fluid white">
    <div class="content">
      <div class="row-fluid">
        <div class="span12">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
</body>
</html>
