<!DOCTYPE html>
<html>
<head>
  <%= render 'shared/head' %>
</head>
<body class="focused-body">
<div id="main" role="main">
  <div class="container" style="width: 350px;">
    <div class="row">
      <div class="focused-unit span4">
        <legend><%= yield :legend %></legend>
        <%= render 'shared/flash_messages' %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
</body>
</html>
